accelerate==1.3.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alabaster==1.0.0
altair==4.0.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.5.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.2.1
async-lru==2.0.5
atomicwrites==1.4.1
atpublic==5.0
attr==0.3.1
attrs==22.2.0
autopep8==2.0.2
azure-core==1.32.0
azure-identity==1.19.0
azure-storage-blob==12.24.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.2
black==25.1.0
bleach==5.0.1
blinker==1.9.0
blis==1.2.0
bokeh==2.4.3
boto==2.49.0
boto3==1.36.12
botocore==1.36.12
branca==0.8.1
bs4==0.0.2
cachetools==5.3.0
catalogue==2.0.10
category-encoders==2.6.0
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpathlib==0.21.0
cloudpickle==2.2.1
colorama==0.4.6
colorcet==3.0.1
comm==0.1.3
confection==0.1.5
contourpy==1.0.7
cplex==22.1.2.0
cryptography==41.0.7
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.11
Cython==3.0.10
datamodel-code-generator==0.26.1
datasets==3.2.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.8
distro==1.9.0
Django==4.2.18
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==2.4.0
django-migration-linter==5.1.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
dnspython==2.7.0
docplex==2.29.241
docutils==0.21.2
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
duckdb==1.0.0
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
entrypoints==0.4
et_xmlfile==2.0.0
evidently==0.2.6
executing==1.2.0
expiringdict==1.2.2
fake-useragent==1.5.1
Faker==26.0.0
fastapi==0.115.8
fastjsonschema==2.16.3
favicon==0.7.0
feedparser==6.0.11
filelock==3.11.0
Flask==3.1.0
folium==0.20.0
fonttools==4.39.3
fqdn==1.5.1
fr_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0-py3-none-any.whl#sha256=7d6ad14cd5078e53147bfbf70fb9d433c6a3865b695fda2657140bbc59a27e29
frozendict==2.4.4
frozenlist==1.5.0
fsspec==2024.9.0
genson==1.3.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-appengine-logging==1.5.0
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.1
google-cloud-logging==3.11.4
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
greenlet==3.2.0
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
holoviews==1.15.4
htbuilder==0.6.2
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.28.1
humansignal-drf-yasg==1.21.10.post1
hvplot==0.8.3
idna==3.4
ijson==3.3.0
imageio==2.34.0
imagesize==1.4.1
importlib_metadata==8.5.0
inflect==5.6.2
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isodate==0.7.2
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.2
jiter==0.8.2
jmespath==1.0.1
joblib==1.2.0
jsf==0.11.2
json5==0.12.0
jsonpointer==2.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.5.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter_client==8.1.0
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.3.0
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab==4.4.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.27.3
kaleido==0.2.1
kiwisolver==1.4.4
label-studio==1.15.0
label-studio-sdk==1.0.8
langcodes==3.5.0
language_data==1.3.0
launchdarkly-server-sdk==8.2.1
lazy_loader==0.4
llvmlite==0.44.0
lockfile==0.12.2
lxml==5.2.2
lxml_html_clean==0.4.1
marisa-trie==1.2.1
Markdown==3.6
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
more-itertools==10.3.0
motor==3.7.0
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
multidict==6.1.0
multiprocess==0.70.16
multitasking==0.0.11
murmurhash==1.0.12
mypy-extensions==1.0.0
mysql-connector-python==9.3.0
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.9.1
notebook==6.5.4
notebook_shim==0.2.2
nptyping==2.3.1
numba==0.61.2
numpy==1.26.4
openai==1.61.1
opencv-python==4.7.0.72
openpyxl==3.1.5
opentelemetry-api==1.29.0
ordered-set==4.0.2
packaging==23.0
pandas==2.2.3
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parse==1.20.2
parso==0.8.3
pathspec==0.12.1
patsy==0.5.6
peewee==3.17.6
pefile==2023.2.7
pickleshare==0.7.5
pillow==11.1.0
platformdirs==3.2.0
plotly==5.9.0
plotly-gif==0.0.3
pluggy==1.0.0
pmdarima==2.0.4
portalocker==2.10.1
preshed==3.0.9
prometheus-client==0.16.0
prompt-toolkit==3.0.38
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==5.9.4
psycopg2-binary==2.9.10
PuLP==2.9.0
pure-eval==0.2.2
py==1.11.0
pyarrow==19.0.0
pyasn1==0.5.1
pyasn1_modules==0.4.1
pyboxen==1.3.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.19.0
pycryptodomex==3.19.0
pyct==0.5.0
pydantic==2.10.4
pydantic_core==2.27.2
pydeck==0.8.0
pyee==11.1.1
Pygments==2.18.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
PyJWT==2.10.1
pymdown-extensions==10.8.1
pymongo==4.11.2
Pympler==1.0.1
PyMySQL==1.1.1
pyOpenSSL==24.3.0
pyparsing==3.0.9
pyppeteer==2.0.0
pyquery==2.0.1
pyRFC3339==2.0.1
pyrsistent==0.19.3
pytest==7.1.2
python-box==5.4.1
python-dateutil==2.8.2
python-json-logger==2.0.4
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
PyWavelets==1.6.0
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.10
PyYAML==6.0.2
pyzmq==25.0.2
qtconsole==5.4.2
QtPy==2.3.1
rawpy==0.19.1
redis==3.5.3
referencing==0.36.2
regex==2024.7.24
requests==2.32.3
requests-html==0.10.0
requests-mock==1.12.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.4
rpds-py==0.22.3
rq==1.10.1
rsa==4.9
rstr==3.2.2
rules==3.4
s3transfer==0.11.2
safetensors==0.5.2
sb3-contrib==1.7.0
scikit-image==0.24.0
scikit-learn==1.2.1
scikit-learn-extra==0.3.0
scipy==1.10.1
seaborn==0.12.2
semver==3.0.2
Send2Trash==1.8.0
sentencepiece==0.2.0
sentry-sdk==2.20.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
snowflake==1.0.2
snowflake-connector-python==3.12.4
snowflake._legacy==1.0.0
snowflake.core==1.0.2
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.40
sqlparse==0.5.3
srsly==2.5.1
st-annotated-text==4.0.1
st-theme==1.2.3
stable-baselines3==1.8.0
stack-data==0.6.2
starlette==0.45.3
statsmodels==0.14.2
streamlit==1.41.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-option-menu==0.3.13
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit_folium==0.25.0
sympy==1.11.1
tenacity==8.2.2
terminado==0.17.1
thinc==8.3.4
threadpoolctl==3.1.0
tifffile==2024.6.18
tinycss2==1.2.1
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
toolz==0.12.0
torch==2.0.0
tornado==6.2
tqdm==4.67.1
traitlets==5.9.0
transformers==4.48.2
typer==0.15.2
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==4.3
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ujson==5.10.0
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.20
user-agents==2.2.0
uvicorn==0.34.0
validators==0.20.0
w3lib==2.2.1
wasabi==1.1.3
watchdog==3.0.0
wcwidth==0.2.6
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==3.1.3
widgetsnbextension==4.0.7
wrapt==1.17.2
xmljson==0.2.1
xxhash==3.5.0
xyzservices==2025.4.0
yahoo-fin==0.8.9.1
yarl==1.18.3
yfinance==0.2.43
zipp==3.21.0
